/* CSS DOCUMENT */
@charset "UTF-8";

/*configuraciones generales*/

@font-face {
    font-family: "Mori Extralight";
    src: url(fonts/PPMori-Extralight.otf) format(opentype);
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: "Mori Extralight Italic";
    src: url(fonts/PPMori-ExtralightItalic.otf) format(opentype);
    font-weight: light;
    font-style: italic;
}

@font-face {
    font-family: "Mori Regular";
    src: url(fonts/PPMori-Regular.otf) format(opentype);
    font-weight: regular;
    font-style: normal;
}

@font-face {
    font-family: "Mori Regular Italic";
    src: url(fonts/PPMori-RegularItalic.otf) format(opentype);
    font-weight: regular;
    font-style: italic;
}

@font-face {
    font-family: "Mori Semibold";
    src: url(fonts/PPMori-SemiBold.otf) format(opentype);
    font-weight: semibold;
    font-style: normal;
}

@font-face {
    font-family: "Mori Semibold Italic";
    src: url(fonts/PPMori-SemiBoldItalic.otf) format(opentype);
    font-weight: semibold;
    font-style: italic;
}

@font-face {
    font-family: "Tropiland";
    src: url(fonts/TropiLand-L3MPg.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

/*aca empiezan las aplicaciones*/

* {
    margin: 0;
}

body {
    font-family: "IBM Plex Sans", sans-serif;
    background-color: #ffffe1;
}

a {
    font-family: 'Tropiland', "Climate Crisis", sans-serif;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

nav {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

h1 {
    font-family: 'Mori Semibold', "IBM Plex Sans", sans-serif;
    color: rgb(237, 109, 11);
    font-size: 2.1rem;
    line-height: 2rem;
    margin: 50px 40px 10px;
}

h2 {
    font-family: 'Mori Extralight', "IBM PLex Sans", sans-serif;
    color: rgb(196, 57, 29);
    margin: 20px 41px 0px;
    font-size: 1.3rem;
}

h3 {
    font-family: 'Mori Extralight', "IBM PLex Sans", sans-serif;
    color: rgb(91, 29, 0);
    margin: 20px 41px 0px;
    font-size: 1rem;
    justify-content: flex-end;
}

p, li {
    list-style: none;
    font-size: 0.9rem;
    padding: 10px 40px 0px;
    text-wrap: balance;
}

p {
    font-family: "IBM Plex Sans Bold", sans-serif;
}

.presentacion {
    background-image: url(img/textura.jpg);
    background-size: 600px;
    background-repeat: repeat;
    min-height: 10vh;
    padding: 50px 70px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.presentacion p {
    font-family: 'Mori Semibold Italic', "IBM Plex Sans", sans-serif;
    font-size: 1.1rem;
    line-height: 2rem;
    flex: 1;
    min-width: 200px;
    text-wrap: auto;
}

footer {
    font-family: 'Mori Extralight', "IBM Plex Sans", sans-serif;
    padding: 20px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}

header {
    background-color: rgb(237, 109, 11);
    padding: 10px 0px;
}

.encabezado {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.resumen {
    display: flex;
    flex-direction: column;
    background-color:#ffeeac;
    padding: 0px 10px 50px;
    flex: 1 1 100px;
}

.experiencia-formacion {
    display: flex;
    flex-direction: column;
    padding: 0px 10px 50px;
    flex: 2 1 600px;
}

.cuerpo {
    display: flex;
    flex-wrap: wrap;
}

.item-a, .item-b, .item-c, .item-d {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.item-1, .item-2 {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.adobe {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px 55px 0px 0px;
    gap: 15px
}