/* CSS DOCUMENT */
@charset "UTF-8";

/*configuraciones generales*/

@font-face {
    font-family: "Mori Extralight";
    src: url(fonts/PPMori-Extralight.otf) format(opentype);
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: "Mori Extralight Italic";
    src: url(fonts/PPMori-ExtralightItalic.otf) format(opentype);
    font-weight: light;
    font-style: italic;
}

@font-face {
    font-family: "Mori Regular";
    src: url(fonts/PPMori-Regular.otf) format(opentype);
    font-weight: regular;
    font-style: normal;
}

@font-face {
    font-family: "Mori Regular Italic";
    src: url(fonts/PPMori-RegularItalic.otf) format(opentype);
    font-weight: regular;
    font-style: italic;
}

@font-face {
    font-family: "Mori Semibold";
    src: url(fonts/PPMori-SemiBold.otf) format(opentype);
    font-weight: semibold;
    font-style: normal;
}

@font-face {
    font-family: "Mori Semibold Italic";
    src: url(fonts/PPMori-SemiBoldItalic.otf) format(opentype);
    font-weight: semibold;
    font-style: italic;
}

@font-face {
    font-family: "Tropiland";
    src: url(fonts/TropiLand-L3MPg.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

/*aca empiezan las aplicaciones*/

* {
    margin: 0;
}

body {
    font-family: "IBM Plex Sans", sans-serif;
    background-color: #ffffe1;
}

a {
    font-family: 'Tropiland', "Climate Crisis", sans-serif;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:hover {
    color:rgba(255, 221, 0)
}

nav {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

h1 {
    font-family: 'Mori Semibold', "IBM Plex Sans", sans-serif;
    color: rgb(255, 85, 0);
    font-size: 1.7rem;
    padding: 20px 40px 0px;
}

h2 {
    font-family: 'Mori Semibold', "IBM Plex Sans", sans-serif;
    color: rgb(237, 109, 11);
    font-size: 2.1rem;
    line-height: 2rem;
    padding: 50px 40px 10px;
}

h3 {
    font-family: 'Mori Extralight', "IBM PLex Sans", sans-serif;
    color: rgb(196, 57, 29);
    padding: 20px 41px 0px;
    font-size: 1.3rem;
}

h4 {
    font-family: 'Mori Extralight', "IBM PLex Sans", sans-serif;
    color: rgb(91, 29, 0);
    margin: 20px 41px 0px;
    font-size: 1rem;
    justify-content: flex-end;
}

p,
li {
    list-style: none;
    font-size: 0.9rem;
    padding: 10px 40px 0px;
    text-wrap: balance;
}

p {
    font-family: "IBM Plex Sans Bold", sans-serif;
}

.presentacion {
    background-image: url(img/textura.jpg);
    background-size: 600px;
    background-repeat: repeat;
    min-height: 10vh;
    padding: 60px 70px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px 30px 0px;
}

.presentacion p {
    font-family: 'Mori Semibold Italic', "IBM Plex Sans", sans-serif;
    font-size: 1.1rem;
    line-height: 2rem;
    min-width: 200px;
    text-wrap: auto;
}

.presentaciontxt {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 200px;
}


footer {
    font-family: 'Mori Extralight', "IBM Plex Sans", sans-serif; /* esto ya lo declaraste en la línea 121 */
    padding: 15px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}

header {
    background-color: rgb(237, 109, 11);
    padding: 10px 0px;
}

.encabezado {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.resumen {
    display: flex; /* esta columna no necesita flex ni direction */
    flex-direction: column;
    background-color: #ffeeac;
    padding: 0px 10px 50px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100px;
    margin: 30px
}

.experiencia-formacion {
    display: flex;
    flex-direction: column;
    padding: 0px 50px 50px 0px;
    flex-grow: 2;
    flex-shrink: 2;
    flex-basis: 600px;
    justify-content: center;
}

.cuerpo {
    display: flex;
    flex-wrap: wrap;
}

.item-a,
.item-b,
.item-c,
.item-d {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.item-1,
.item-2 {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.adobe {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 40px
}

.logosadobe {
    display: flex;
    justify-content: flex-start;
    padding: 5px 5px 5px 40px;
    gap: 15px
}

.adobe p {
    font-family: "IBM Plex Sans", sans-serif;
}

.imagenes-proyectos {
    width: 100%;
    background: #ffce0a;
    margin: 0px 30px 30px;
    padding: 40px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly
}

.imagenes-proyectos h2 {
    color: black;
    padding: 10px 0px 35px;
}

.imagenes-proyectos figcaption {
    font-family: 'Mori Semibold Italic', "IBM Plex Sans", sans-serif;
}

.imgproyectos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 40px;
}

.proyectos li {
    font-family: 'Mori Extralight', "IBM PLex Sans", sans-serif;
    color: rgb(196, 57, 29);
    padding: 20px 0px 0px;
    font-size: 1.1rem;
}

aside {
    display: flex;
    justify-content: center;
    padding: 0px 0px 25px 0px;
}